@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürünler</title>
    <link rel="stylesheet" href="~/css/btnstyle.css">

</head>
<body>
    <header>
        <div class="header-content">
        <h1>Ürünler</h1>
        </div>
    </header>
    <div class="container">
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Şömineler'">Şömineler</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Barbeküler'">Barbeküler</button> 
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Fırınlar'">Fırınlar</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Kayrak Duvar Kaplama'">Kayrak Duvar Kaplama</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Kayrak Yer Döşeme'">Kayrak Yer Döşemeleri</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Duvar Taş Kaplama'">Duvar Taş Kaplamaları</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Yer Taş Döşeme'">Yer Taş Döşemeleri</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Mermer Basamak'">Mermer Basamaklar</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Mermer Döşeme'">Mermer Döşemeler</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Ateş Çukuru'">Ateş Çukuru</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Pencere Kaplama'">Pencere Kaplama</button>
        <button class="responsive-button" onclick="window.location.href='Home/Resimler/Çeşme'">Çeşmeler</button>           
    </div>
</body>
</html>
